<div class="account-box hint-1" jarvis-widget data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="true" data-widget-color="blue">
    <header class="account-box__header">
        <h3 class="text-center account-box__header-title">Accounts</h3>
        <div class="account-box__actions" role="group" aria-label="...">
            <!--<i class="fa account-box__actions-btn" title="Update" ng-class="{'fa-refresh fa-spin': accountsCtrl.accIsUpdating, 'fa-refresh': !accountsCtrl.accIsUpdating}" ng-click="accountsCtrl.updateAccounts()"></i>-->
            <!--<i class="fa fa-plus account-box__actions-btn" title="Add account" ng-click="accountsCtrl.addAccounts()"></i>-->
            <i class="fa fa-plus account-box__actions-btn" title="Add account" ng-click="accountsCtrl.addAccounts()"></i>
        </div>
    </header>
    <div>
        <p class="alert alert-danger" ng-repeat="error in accountsCtrl.errors">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="accountsCtrl.dismissError(error.ErrorMessage)">
                &times;
            </button><br/>
        <label>{{error.ErrorMessage}}</label></p>
        <button class="btn btn-default btn-sm btn-link" data-ng-click="accountsCtrl.expandAll()" data-ng-class="{'hidden': accountsCtrl.expandAllShow, 'visible': !accountsCtrl.expandAllShow}"><i class="fa fa-eye text-muted"></i> <span class="text-muted">Expand all</span></button>
        <button class="btn btn-default btn-sm btn-link" data-ng-click="accountsCtrl.hideAll()" data-ng-class="{'hidden': !accountsCtrl.expandAllShow, 'visible': accountsCtrl.expandAllShow}"><i class="fa fa-eye-slash text-muted"></i> <span class="text-muted">Hide all</span></button>
        <!--TODO change elements id-->
        <div class="panel-group smart-accordion-default" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading account-box__panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" class="collapsed">
                            <i class="fa fa-lg fa-angle-down pull-right"></i>
                            <i class="fa fa-lg fa-angle-up pull-right"></i>
                            Cash <span class="badge pull-right">{{accountsCtrl.Accounts.ManualAndAggregatedAccountsTotalInDollars | currency}}</span>
                        </a></h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body no-padding">
                        <ul class="list-group account-list">
                            <li class="list-group-item account-item" ng-repeat="account in accountsCtrl.Accounts.Accounts" ng-click="accountsCtrl.showTransaction(account.Id, account.Name)">
                                <span class="badge" ng-if="!account.IsUpdating">{{account.AggregatedBalanceInDollars | currency}}</span>
                                <span class="account-item__name">
                                    <span>{{account.Name}}</span>
                                    <i class="fa fa-spinner fa-spin" ng-if="account.IsUpdating"></i>
                                </span>
                                <div class="text-right text-muted">Updated {{account.LastUpdatedAgo}} ago</div>
                                <div ng-if="account.AccountStatus != null && account.AccountStatus != 'Unexpected Error Occurred'" class="text-right text-muted" ng-click="$event.stopPropagation()">
                                    <a class="btn btn-default btn-sm" ng-click="accountsCtrl.handlingErrorStatus(account.IntuitInstitutionId, account.IntuitAccountId, account.AccountStatus)">
                                        <span class="glyphicon glyphicon-alert"></span> {{account.AccountStatus}}
                                    </a>
                                </div>
                                <div ng-if="account.AccountStatus != null && account.AccountStatus === 'Unexpected Error Occurred'" class="text-right text-muted">
                                    <div class="text-right text-muted">{{account.AccountStatus}} <span class="glyphicon glyphicon-alert"></span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading account-box__panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseTwo" class="collapsed" aria-expanded="false">
                            <i class="fa fa-lg fa-angle-down pull-right"></i>
                            <i class="fa fa-lg fa-angle-up pull-right"></i>
                            Credit card
                            <div class="badge pull-right">{{accountsCtrl.Accounts.ManualAndAggregatedCreditCardTotalsInDollars * -1 | currency}}</div>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body no-padding">
                        <ul class="list-group account-list">
                            <li class="list-group-item account-item" ng-repeat="creditCard in accountsCtrl.Accounts.CreditCards" ng-click="accountsCtrl.showTransaction(creditCard.Id, creditCard.Name)">
                                <span class="badge" ng-if="!creditCard.IsUpdating">{{creditCard.AggregatedBalanceInDollars * -1 | currency}}</span>
                                <span class="account-item__name">
                                    <span>{{creditCard.Name}}</span>
                                    <i class="fa fa-spinner fa-spin" ng-if="creditCard.IsUpdating"></i>
                                </span>
                                <div class="text-right text-muted">Updated {{creditCard.LastUpdatedAgo}} ago</div>
                                <div ng-if="creditCard.AccountStatus != null && creditCard.AccountStatus != 'Unexpected Error Occurred'" class="text-right text-muted" ng-click="$event.stopPropagation()">
                                    <a class="btn btn-default btn-sm" ng-click="accountsCtrl.handlingErrorStatus(creditCard.IntuitInstitutionId, creditCard.IntuitAccountId, creditCard.AccountStatus)">
                                        <span class="glyphicon glyphicon-alert"></span> {{creditCard.AccountStatus}}
                                    </a>
                                </div>
                                <div ng-if="creditCard.AccountStatus != null && creditCard.AccountStatus === 'Unexpected Error Occurred'" class="text-right text-muted">
                                    <div class="text-right text-muted">{{creditCard.AccountStatus}} <span class="glyphicon glyphicon-alert"></span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading account-box__panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseThree" class="collapsed" aria-expanded="false">
                            <i class="fa fa-lg fa-angle-down pull-right"></i>
                            <i class="fa fa-lg fa-angle-up pull-right"></i>
                            Loans <span class="badge pull-right">{{accountsCtrl.Accounts.ManualAndAggregatedLoansTotalInDollars * -1 | currency}}</span>
                        </a></h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body no-padding">
                        <ul class="list-group account-list">
                            <li class="list-group-item account-item" ng-repeat="loan in accountsCtrl.Accounts.Loans" ng-click="accountsCtrl.showTransaction(loan.Id, loan.Name)">
                                <span class="badge" ng-if="!loan.IsUpdating">{{loan.AggregatedBalanceInDollars * -1 | currency}}</span>
                                <span class="account-item__name" >
                                    <span>{{loan.Name}}</span>
                                    <i class="fa fa-spinner fa-spin" ng-if="loan.IsUpdating"></i>
                                </span>
                                <div class="text-right text-muted">Updated {{loan.LastUpdatedAgo}} ago</div>
                                <div ng-if="loan.AccountStatus != null && loan.AccountStatus != 'Unexpected Error Occurred'" class="text-right text-muted" ng-click="$event.stopPropagation()">
                                    <a class="btn btn-default btn-sm" ng-click="accountsCtrl.handlingErrorStatus(loan.IntuitInstitutionId, loan.IntuitAccountId, loan.AccountStatus)">
                                        <span class="glyphicon glyphicon-alert"></span> {{loan.AccountStatus}}
                                    </a>
                                </div>
                                <div ng-if="loan.AccountStatus != null && loan.AccountStatus === 'Unexpected Error Occurred'" class="text-right text-muted">
                                    <div class="text-right text-muted">{{loan.AccountStatus}} <span class="glyphicon glyphicon-alert"></span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading account-box__panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseFor" class="collapsed" aria-expanded="false">
                            <i class="fa fa-lg fa-angle-down pull-right"></i>
                            <i class="fa fa-lg fa-angle-up pull-right"></i>
                            Investments<span class="badge pull-right">{{accountsCtrl.Accounts.ManualAndAggregatedInvestmentTotalsInDollars | currency}}</span>
                        </a></h4>
                </div>
                <div id="collapseFor" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body no-padding">
                        <ul class="list-group account-list">
                            <li class="list-group-item account-item" ng-repeat="investment in accountsCtrl.Accounts.Investments" ng-click="accountsCtrl.showTransaction(investment.Id, investment.Name)">
                                <span class="badge" ng-if="!investment.IsUpdating">{{investment.AggregatedBalanceInDollars | currency}}</span>
                                <span class="account-item__name" >
                                    <span>{{investment.Name}}</span>
                                    <i class="fa fa-spinner fa-spin" ng-if="investment.IsUpdating"></i>
                                </span>
                                <div class="text-right text-muted">Updated {{investment.LastUpdatedAgo}} ago</div>
                                <div ng-if="investment.AccountStatus != null && investment.AccountStatus != 'Unexpected Error Occurred'" class="text-right text-muted" ng-click="$event.stopPropagation()">
                                    <a class="btn btn-default btn-sm" ng-click="accountsCtrl.handlingErrorStatus(investment.IntuitInstitutionId, investment.IntuitAccountId, investment.AccountStatus)">
                                        <span class="glyphicon glyphicon-alert"></span> {{investment.AccountStatus}}
                                    </a>
                                </div>
                                <div ng-if="investment.AccountStatus != null && investment.AccountStatus === 'Unexpected Error Occurred'" class="text-right text-muted">
                                    <div class="text-right text-muted">{{investment.AccountStatus}} <span class="glyphicon glyphicon-alert"></span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                <div class="panel panel-default">
                    <div class="panel-heading account-box__panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapseFive" class="collapsed" aria-expanded="false">
                                <i class="fa fa-lg fa-angle-down pull-right"></i>
                                <i class="fa fa-lg fa-angle-up pull-right"></i>
                                Real Estate<span class="badge pull-right">{{accountsCtrl.Accounts.ManualAndAggregatedRealEstateTotalsInDollars | currency}}</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body no-padding">
                            <ul class="list-group account-list">
                                <li class="list-group-item account-item" ng-repeat="realEst in accountsCtrl.Accounts.RealEstates.Items" ng-click="authCtrl.getRealEstate()">
                                    <span class="badge" ng-if="true">{{realEst.Value | currency}}</span>
                                    <span class="account-item__name">
                                        <span>{{realEst.Name}}</span>
                                        <i class="fa fa-spinner fa-spin" ng-if="investment.IsUpdating"></i>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#" class="collapsed">Net worth<span class="badge pull-right">{{accountsCtrl.Accounts.ManualAndAggregatedEquity | currency}}</span></a>
                    </h4>
                </div>
            </div>
        </div>
        <button class="btn btn-success btn-block mt10 mb10" ng-click="accountsCtrl.showAllAccounts()">SEE ALL ACCOUNTS</button>
    </div>
</div>