<aside id="left-panel">

    <nav>
        <ul>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.personal.dashboard" ui-sref-opts="{reload: 'app.personal.dashboard'}" title="Dashboard">
                    <i class="fa fa-lg fa-fw fa-dashboard"></i>
                    <span class="menu-item-parent">Dashboard</span>
                </a>
            </li>
            <li data-ui-sref-active="active">
                <a title="Transactions" data-ui-sref="app.personal.transactions" ui-sref-opts="{reload: 'app.personal.transactions'}">
                    <i class="fa fa-lg fa-fw fa-exchange"></i>
                    <span class="menu-item-parent">Transactions</span>
                </a>
            </li>
            <li data-ui-sref-active="active">
                <a title="Debt tools" data-ui-sref="app.personal.debttools" ui-sref-opts="{reload: 'app.personal.debttools'}">
                    <i class="fa fa-lg fa-fw fa-wrench"></i>
                    <span class="menu-item-parent">Debt tools</span>
                </a>
            </li>
            <li data-ui-sref-active="active">
                <a title="Budget" data-ui-sref="app.personal.budget" ui-sref-opts="{reload: 'app.personal.budget'}">
                    <i class="fa fa-lg fa-fw fa-money"></i>
                    <span class="menu-item-parent">Budget</span>
                </a>
            </li>
            <li data-ui-sref-active="active">
                <a title="Goals" ui-sref="app.personal.goals.items" ui-sref-opts="{reload: 'app.personal.goals.items'}">
                    <i class="fa fa-lg fa-fw fa-crosshairs"></i>
                    <span class="menu-item-parent">Goals</span>
                </a>
            </li>
            <li data-ui-sref-active="active">
                <a href="#" title="Trends" data-ui-sref="app.personal.trends" ui-sref-opts="{reload: 'app.personal.trends'}">
                    <i class="fa fa-lg fa-fw fa-signal"></i>
                    <span class="menu-item-parent">Trends</span>
                </a>
            </li>
            <li data-ui-sref-active="active" class="nav navbar-nav navbar-right" style="border-left: #222222; margin-right: 0px">
                <a href="#" title="Help" data-ui-sref="app.personal.dashboard.helpFaq" ui-sref-opts="{reload: 'app.personal.dashboard.helpFaq'}">
                    <i class="glyphicon glyphicon-question-sign"></i>
                    <span class="menu-item-parent">Help</span>
                </a>
            </li>
        </ul>
    </nav>

</aside>