<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="editAccountCtrl.dismiss()">
        &times;
    </button>
    <h4 class="modal-title">
        Add an account
    </h4>
</div>
<div class="modal-body row">
    <div class="widget-body">
        <div class="">
            <div>
                <p ng-repeat="error in editAccountCtrl.errors" class="alert alert-danger">{{error}}</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <label>Account type</label>
                        <select class="form-control"
                                ng-model="editAccountCtrl.model.Label"
                                ng-options="key as text for (key, text) in editAccountCtrl.model.AccountLabels"
                                ng-change="editAccountCtrl.loadParentAccounts(editAccountCtrl.model.Label)">
                            <option value="">Nothing</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Account name</label>
                        <input type="text" class="form-control" ng-model="editAccountCtrl.model.Name"/>
                    </div>
                    <div class="form-group"
                         ng-if="editAccountCtrl.model.Label === 'Bank' || editAccountCtrl.model.Label === 'CreditCard' || editAccountCtrl.model.Label === 'Loan' || editAccountCtrl.model.Label === 'Investment'">
                        <label>Opening Balance</label>
                        <input format="currency" amount="editAccountCtrl.model.OpeningBalance" type="text" class="form-control" ng-model="editAccountCtrl.model.OpeningBalance"/>
                    </div>
                    <div class="form-group"
                         ng-if="editAccountCtrl.model.Label === 'CreditCard'">
                        <label>Limit</label>
                        <input format="currency" amount="editAccountCtrl.model.CreditLimitInDollars" type="text" class="form-control" ng-model="editAccountCtrl.model.CreditLimitInDollars"/>
                    </div>
                    <!--<div class="form-group"
                         ng-if="editAccountCtrl.model.Label === 'CreditCard' || editAccountCtrl.model.Label === 'Loan'">
                        <label>Interest rate (%)</label>
                        <input type="text" class="form-control" ng-model="editAccountCtrl.model.InterestRatePercentage"/>
                    </div>
                    <div class="form-group"
                         ng-if="editAccountCtrl.model.Label === 'CreditCard' || editAccountCtrl.model.Label === 'Loan'">
                        <label>Minimum monthly payment</label>
                        <input format="currency" amount="editAccountCtrl.model.MinMonthPaymentInDollars" type="text" class="form-control" ng-model="editAccountCtrl.model.MinMonthPaymentInDollars"/>
                    </div>-->

                    <!-- 12 July 2017  Change Requirements-->
                    <div class="form-group">
                        <label>Interest rate (%)</label>
                        <input type="text" class="form-control" ng-model="editAccountCtrl.model.InterestRatePercentage" />
                    </div>
                    <div class="form-group">
                        <label>Minimum monthly payment</label>
                        <input format="currency" amount="editAccountCtrl.model.MinMonthPaymentInDollars" type="text" class="form-control" ng-model="editAccountCtrl.model.MinMonthPaymentInDollars" />
                    </div>
                    <div class="form-group">
                        <label>Parent account</label>
                        <select class="form-control"
                                ng-model="editAccountCtrl.model.ParentAccountId"
                                ng-options="key as text for (key, text) in editAccountCtrl.model.Accounts">
                            <option value="">Nothing</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" ng-model="editAccountCtrl.model.Description"></textarea>
                    </div>
                </div>
            </div>
            <p class="text-center">
                <button class="btn btn-success" ng-click="editAccountCtrl.add()">ADD ACCOUNT</button>
            </p>
        </div>
    </div>
</div>
