<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="intuitCtrl.dismiss()">
        &times;
    </button>
    <h4 class="modal-title">
        Connect to your account by entering your information below:
    </h4>
</div>
<div class="modal-body row">
    <div class="widget-body">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <p ng-repeat="error in intuitCtrl.errors" class="alert alert-danger">{{error}}</p>
                </div>
                <div ng-if="!intuitCtrl.mfaSession">
                    <div class="form-group" ng-repeat="key in intuitCtrl.model.Keys">
                        <label>{{key.Description}}</label>
                        <input type="{{key.DisplayFlag?'text':'password'}}" class="form-control" ng-model="key.Value" />
                    </div>
                </div>
                <div ng-if="intuitCtrl.mfaSession">
                    <p class="alert alert-info">More information needed! Your financial institution requires the following information in order to connect</p>
                    <div ng-repeat="question in intuitCtrl.mfaSession.Questions">
                        <div ng-if="question.Type == 'text'" data-smart-include="app/personal/accounts/views/partials/finicity-text.tpl.html"></div>
                        <div ng-if="question.Type == 'multipleTextOptions'" data-smart-include="app/personal/accounts/views/partials/finicity-multipleTextOptions.tpl.html"></div>
                        <div ng-if="question.Type == 'imageCaptcha'" data-smart-include="app/personal/accounts/views/partials/finicity-imageCaptcha.tpl.html"></div>
                        <div ng-if="question.Type == 'imageChoice1'" data-smart-include="app/personal/accounts/views/partials/finicity-imageChoice1.html"></div>
                        <div ng-if="question.Type == 'imageChoice2'" data-smart-include="app/personal/accounts/views/partials/finicity-imageChoice2.html"></div>
                    </div>
                </div>
                <p class="text-center">
                    <button class="btn btn-success" ng-click="intuitCtrl.submit()" ng-disabled="intuitCtrl.disabledSubmit">
                        <i class="fa fa-spinner fa-spin" ng-if="intuitCtrl.disabledSubmit"></i>
                        Submit
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>

