@inherits System.Web.Mvc.WebViewPage<mPower.Web.Admin.Models.EventLogsModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Events Log";
}
@section pageTitle{
    - events log
    }
<table border="1px solid black" cellpadding="0" cellspacing="0">
    <thead>
        <th style="width: 200px;">
            Id
        </th>
        <th style="width: 200px;">
            User Id
        </th>
        <th style="width: 400px;">
            Date
        </th>
        <th style="width: 200px;">
            Name
        </th>
    </thead>
    @foreach (var item in Model.Logs)
    {
        <tr>
            <td>@item.Id
            </td>
            <td>@item.UserId
            </td>
            <td>
                @item.StoredDate
            </td>
            <td>
                @item.EventName
            </td>
        </tr>
    }
</table>
