<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="deleteUserAgentCtrl.dismiss('cancel')">
        &times;
    </button>
    <h4 class="modal-title">
        Are you sure?
    </h4>
</div>
<div class="modal-body row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Are you sure that you want to delete <strong>{{deleteUserAgentCtrl.user.FullName}}</strong> account? All user data will be permanently removed.</label>
        </div>
    </div>
</div>
<div class="modal-footer text-center">
    <button type="button" class="btn btn-danger" ng-click="deleteUserAgentCtrl.deleteUser(deleteUserAgentCtrl.user.Id)">
        DELETE
    </button>
    <button type="button" class="btn btn-info" ng-click="deleteUserAgentCtrl.dismiss('cancel')">
        CANCEL
    </button>
</div>