.budget-overview

  .jarviswidget
    margin-bottom 15px

  &__list
    margin-bottom 0

  &__header
    display flex
    align-items center

  &__header-title
    margin 0 0 0 15px
    font-size 14px