.custom-theme

  .btn-primary
    background brandColor
    border-color brandColor
    transition all .15s ease-out
    &.btn-link
      background none
      border none
      &:hover
        background none
        border none
    &:hover
      background brandHoverColor
      border-color brandHoverColor

  .btn-info
    background brandInfoColor
    border-color brandInfoColor
    transition all .15s ease-out
    &.btn-link
      background none
      border none
      &:hover
        background none
        border none
    &:hover
      background brandInfoHoverColor
      border-color brandInfoHoverColor