.goals-box
  overflow hidden !important

  &__inner
    margin 5px

  &__inner-title
    margin-bottom 35px

  &__inner-item
    margin-bottom 35px
    display block

    img
      height 50px
      width auto

    .item-title
      text-transform uppercase