.triarc-calendar-widget
	position fixed
	left 0
	right 0
	bottom 0
	z-index 999
	height auto
	transition all .1s ease-out
	.widget-body
	.jarviswidget
		height auto
	&.full-view
		height 100%
		.widget-body
		.jarviswidget
			height 100% !important
	&.collapseble
		height 34px

	.jarviswidget
		margin: 0