.user-dropdown
	display flex
	justify-content space-between
	align-items center
	&__avatar
		width 35px
		margin-right 5px
	&__menu
		a
			display block
#mobile-profile-img
	padding-left 10px !important
	padding-right 10px !important
	&:hover
		background grayColor
	