<div class="row" style="margin: 10px">
    <div class="col-md-3 text-center">
        <a ng-click="transactionsCtrl.showAdd('Check')">
            <img src="/styles/img/app/check-icon.png"/>
            <h5>Write checks</h5>
        </a>
    </div>
    <div class="col-md-3 text-center">
        <a ng-click="transactionsCtrl.showAdd('CreditCard')">
            <img src="/styles/img/app/visa-icon.png"/>
            <h5>Credit card transaction</h5>
        </a>
    </div>
    <div class="col-md-3 text-center">
        <a ng-click="transactionsCtrl.showAdd('BankTransfer')">
            <img src="/styles/img/app/transfer-icon.png"/>
            <h5>Bank transfer</h5>
        </a>
    </div>
    <div class="col-md-3 text-center">
        <a ng-click="transactionsCtrl.showAdd('Deposit')">
            <img src="/styles/img/app/deposit-icon.png" />
            <h5>Make deposits</h5>
        </a>
    </div>
</div>