// ===========
// COLOR SHEME
// ===========

brandColor = #3a3f51
brandHoverColor = lightness(brandColor, 42%)

brandInfoColor = lightness(brandColor, 50%)
brandInfoHoverColor = lightness(brandInfoColor, 60%)

grayColor = #eee
textColor = #333
whiteColor = #fff