<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlexFTPS" version="1.1.0.27735" requireReinstallation="true" />
  <package id="BouncyCastle" version="1.7.0" targetFramework="net40" />
  <package id="CsvHelper" version="1.4.0" requireReinstallation="true" />
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net40" />
  <package id="mongocsharpdriver" version="1.11.0" targetFramework="net46" />
  <package id="SSH.NET" version="2020.0.2" targetFramework="net40" />
  <package id="structuremap" version="4.0.1.318" targetFramework="net46" />
</packages>