<header id="header"  class="animated fadeInDown" >
    <div id="logo-group">
        <span id="logo"> <img src="styles/img/Alliance-pfm.png"> </span>
    </div>
    <span id="extr-page-header-space">
        <span class="hidden-mobile hiddex-xs">Need an account?</span> <a ui-sref="signup" class="btn btn-danger">Create account</a>
    </span>
</header>
<div id="main" role="main" class="animated fadeInDown">

    <div id="content" class="container">
        <div class="" style="width: 50%; margin: 0 auto; text-align: center">
            <div class="well no-padding">
                <form id="login-form" class="smart-form client-form">
                    <header>
                        Forgot Password
                    </header>
                    <fieldset>
                        <section>
                            <p class="alert alert-danger" ng-repeat="error in forgotCtrl.errors" ng-bind-html="error"></p>
                        </section>
                        <section>
                            <label class="label">Enter your email address</label>
                            <label class="input"> <i class="icon-append fa fa-envelope"></i>
                                <input type="email" ng-model="forgotCtrl.email" name="email">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> Please enter email address for password reset</b></label>
                        </section>
                    </fieldset>
                    <footer>
                        <button ui-sref="login" class="btn btn-info pull-left">Sign In</button>
                        <button class="btn btn-primary" ng-click="forgotCtrl.submit()">
                            <i class="fa fa-refresh"></i> Reset Password
                        </button>
                    </footer>
                </form>

            </div>
        </div>
    </div>
</div>