<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="dnx-clr" value="clr" />
    <add key="dnx-version" value="1.0.0-rc1-update1" />
    <add key="bootstrapper-version" value="1.0.0-rc1-update1" />
    <add key="runtime-path" value="..\approot\packages" />
    <add key="dnx-app-base" value="..\approot\packages\mPower.WebApi\1.0.0\root" />
  </appSettings>

  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600"/>
  </system.webServer>

</configuration>
