<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MPower.Mongo.ReadBackupFolder" value="d:\git\mPower\related\read" />
    <add key="MPower.Mongo.WriteBackupFolder" value="d:\git\mPower\related\write" />
    <add key="MPower.Backup.PathToBackuper" value="d:\git\mPower\related\mongodump.exe" />
    <add key="MPower.Backup.PathToRestorer" value="d:\git\mPower\related\mongorestore.exe" />
    <add key="MPower.Backup.Password" value="1" />
    <add key="MPower.Backup.UserName" value="admin" />
    <add key="MPower.Mongo.LogsCollectionName" value="logs" />
    <add key="MPower.Membership.ApiKey" value="F89DA1C7DC2B40319802BCF4F6B2C121" />
    <add key="MPower.Membership.BaseUrl" value="http://localhost:8080/api/membership" />
    <add key="MPower.NuggetControllerUrl" value="http://localhost:8080/api/nugget" />
    <add key="MPower.DefaultTenantAssembly" value="Default, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <add key="MPower.Chargify.ApiKey" value="DeIejB8JBvUhrKQoaAPb" />
    <add key="MPower.Chargify.ApiPassword" value="asd12312" />
    <add key="MPower.JanrainApiBaseUrl" value="https://rpxnow.com/api/v2/" />
    <add key="MPower.WebHashKey" value="W57tCwbjgVr8" />
    <add key="MPower.Mongo.ReadDatabaseConnectionString" value="mongodb://localhost:27020/mpower_read" />
    <add key="MPower.Mongo.WriteDatabaseConnectionString" value="mongodb://localhost:27020/mpower_write" />
    <add key="MPower.Mongo.TestReadDatabaseConnectionString" value="mongodb://localhost:27020/" />
    <add key="MPower.Mongo.LogsDatabaseConnectionString" value="mongodb://localhost:27020/logs" />
    <add key="MPower.Mongo.TempDatabaseConnectionString" value="mongodb://localhost:27020/mpower_temp" />
    <add key="MPower.Mongo.SessionServer" value="mongodb://localhost:27020/" />
</appSettings>
</configuration>
    <add key="MPower.Chargify.ApiKey" value="opZCTP_oPitdT6ZzapKM" />
    <add key="MPower.Chargify.ApiPassword" value="x" />
    <add key="MPower.JanrainApiBaseUrl" value="https://rpxnow.com/api/v2/" />
    <add key="MPower.WebHashKey" value="W57tCwbjgVr8" />
    <add key="MPower.Mongo.ReadDatabaseConnectionString" value="mongodb://admin(admin):1@localhost:27020/mpower_read" />
    <add key="MPower.Mongo.WriteDatabaseConnectionString" value="mongodb://admin(admin):1@localhost:27020/mpower_write" />
    <add key="MPower.Mongo.TempDatabaseConnectionString" value="mongodb://admin(admin):1@localhost:27020/mpower_temp" />
    <add key="MPower.Mongo.TestReadDatabaseConnectionString" value="mongodb://admin(admin):1@localhost:27020/" />
    <add key="MPower.Mongo.SessionServer" value="mongodb://admin(admin):1@localhost:27020/" />
    <add key="MPower.Mongo.LogsDatabaseConnectionString" value="mongodb://admin(admin):1@localhost:27020/logs" />
</appSettings>
</configuration>
