<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="deleteMessageCtrl.dismiss('cancel')">
        &times;
    </button>
    <h4 class="modal-title">
        Are you sure?
    </h4>
</div>
<div class="modal-body row">
    <div class="row">
        <p ng-repeat="error in deleteMessageCtrl.errors" class="alert alert-danger">{{error}}</p>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label>Are you sure that you want to delete <strong>{{deleteMessageCtrl.message.Name}}</strong> message?</label>
        </div>
    </div>
</div>
<div class="modal-footer text-center">
    <button type="button" class="btn btn-danger" ng-click="deleteMessageCtrl.deleteMessage(deleteMessageCtrl.message.Id)">
        DELETE
    </button>
    <button type="button" class="btn btn-info" ng-click="deleteMessageCtrl.dismiss('cancel')">
        CANCEL
    </button>
</div>