<div id="content">
    <section>
        <div class="row">
            <article class="col-md-12">
                <div>
                    <div>
                        <h1 class="text-center">Our custom Debt Tools will show you how to pay down debt and guide you step by step to meet your financial goals.</h1>
                        <div class="container-fluid">
                            <div class="row debttools-list">
                                <div class="col-md-6 text-center debttools-item">
                                    <div class="well well-margin">
                                        <div ng-if="debttoolsCtrl.debttoolsModel.DebtElimination === null">
                                            <img src="/styles/img/app/debt-elimination.jpg" />
                                            <h1 class="txt-color-green">Debt elimination program</h1>
                                            <h4 class="txt-color-orange"><b>Eliminate Debt in 3 Easy Steps</b></h4>
                                            <h5>This powerful debt tool will help you generate a custom payment plan based on your unique financial situation in three simple steps.</h5>
                                            <div class="text-center">
                                                <button class="btn btn-success" ui-sref="app.personal.eliminationProgram">Get started</button>
                                            </div>
                                        </div>
                                        <div ng-if="debttoolsCtrl.debttoolsModel.DebtElimination !== null">
                                            <img src="/styles/img/app/debt-elimination-s.jpg" />
                                            <h1 class="txt-color-green">Debt elimination program</h1>
                                            <h4 class="txt-color-orange"><b>Eliminate Debt in 3 Easy Steps</b></h4>
                                            <hr />
                                            <h4 class="txt-color-orange"><b>Your Current Program Summary</b></h4>
                                            <div ng-if="debttoolsCtrl.debttoolsModel.DebtElimination.WrongProgramParams">
                                                <h5>For some reasons your debt elimination program has invalid parameters. Please follow the link below to recreate it.</h5>
                                                <button class="btn btn-success">Recreate Program</button>
                                            </div>
                                            <div ng-if="!debttoolsCtrl.debttoolsModel.DebtElimination.WrongProgramParams">
                                                <h5>
                                                    You are currently commiting an extra <span class="txt-color-green">{{debttoolsCtrl.debttoolsModel.DebtElimination.MonthlyBudget | currency}}</span> per month towards paying off your debt.
                                                </h5>
                                                <h6>TOTAL DEBT: <span class="txt-color-green">{{debttoolsCtrl.debttoolsModel.DebtElimination.TotalPayedViaPlan | centsCurrency}}</span></h6>
                                                <h6>PAYOFF TIME: <span class="txt-color-green">{{debttoolsCtrl.debttoolsModel.DebtElimination.PayoffTimeViaPlan}} yrs</span></h6>
                                                <ul class="depttools-commands text-left">
                                                    <li><a ui-sref="app.personal.eliminationProgram({currentStep: 3})"><i class="glyphicon glyphicon-circle-arrow-right" style="padding: 3px"></i>Show Detailed Summary</a></li>
                                                </ul>
                                                <h5>
                                                    You are saving a total of <span class="txt-color-green">{{debttoolsCtrl.debttoolsModel.DebtElimination.MoneySaved | centsCurrency}}</span> and shaving off
                                                    <span class="txt-color-green">{{debttoolsCtrl.debttoolsModel.DebtElimination.PayoffTimeViaPlan}}</span> yrs by using this Debt Elimination Program.
                                                </h5>
                                                <hr />
                                                <ul class="depttools-commands text-left">
                                                    <li><a ui-sref="app.personal.eliminationProgram({currentStep: 3})"><i class="glyphicon glyphicon-circle-arrow-right" style="padding: 3px"></i>Show Detailed Summary</a></li>
                                                    <li><a ui-sref="app.personal.eliminationProgram({currentStep: 2})"><i class="glyphicon glyphicon-circle-arrow-right" style="padding: 3px"></i>Edit Monthly Budget</a></li>
                                                    <li><a ui-sref="app.personal.eliminationProgram({currentStep: 2})"><i class="glyphicon glyphicon-circle-arrow-right" style="padding: 3px"></i>Change Program Type</a></li>
                                                    <li><a ng-click="debttoolsCtrl.addAccounts()"><i class="glyphicon glyphicon-circle-arrow-right" style="padding: 3px"></i>Add a New Debt</a></li>
                                                    <li><a ui-sref="app.personal.eliminationProgram({currentStep: 3})"><i class="glyphicon glyphicon-circle-arrow-right" style="padding: 3px"></i>Check Payment calendar</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div ng-if="" class="col-md-4 text-center debttools-item">
                                    <div class="well well-margin">
                                        <div ng-if="debttoolsCtrl.debttoolsModel.DebtToIncomeRatio === null">
                                            <img src="/styles/img/app/debt-income.jpg" />
                                            <h1 class="txt-color-green">Debt to income ratio</h1>
                                            <h4 class="txt-color-orange">Calculate your DTI Ratio</h4>
                                            <h5>Learn how to maximize your borrowing power by reducing your debt-to-income ratio.</h5>
                                            <div class="text-center">
                                                <button class="btn btn-success" ui-sref="app.personal.incomeRation">Get started</button>
                                            </div>
                                        </div>
                                        <div ng-if="debttoolsCtrl.debttoolsModel.DebtToIncomeRatio !== null">
                                            <img src="/styles/img/app/debt-income-s.jpg" />
                                            <h1 class="txt-color-green">Debt to income ratio</h1>
                                            <h4 class="txt-color-orange">Calculate your DTI Ratio</h4>
                                            <hr />
                                            <div class="row">
                                                <div donut-chart class="col-md-6" style="height:200px"
                                                     donut-data='debttoolsCtrl.debttoolsModel.DebtToIncomeRatio.LeftChart'
                                                     donut-formatter='debttoolsCtrl.Formatter'
                                                     donut-resize='true'>
                                                </div>
                                                <div donut-chart class="col-md-6" style="height:200px"
                                                     donut-data='debttoolsCtrl.debttoolsModel.DebtToIncomeRatio.RightChart'
                                                     donut-formatter='debttoolsCtrl.Formatter'
                                                     donut-resize='true'>
                                                </div>
                                            </div>
                                            <hr />
                                            <ul class="depttools-commands text-left">
                                                <li><a ui-sref="app.personal.incomeRation"><i class="glyphicon glyphicon-circle-arrow-right" style="padding: 3px"></i>Show Detailed Summary</a></li>
                                                <li><a ui-sref="app.personal.incomeRation"><i class="glyphicon glyphicon-circle-arrow-right" style="padding: 3px"></i>Edit Monthly Income</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center debttools-item">
                                    <div class="well well-margin">
                                        <div ng-if="debttoolsCtrl.debttoolsModel.CurrentMortgageProgram === null">
                                            <img src="/styles/img/app/debt-mortgage.jpg" />
                                            <h1 class="txt-color-green">Mortgage acceleration</h1>
                                            <h4 class="txt-color-orange">Shave Years off your Mortgage</h4>
                                            <h5>See how much you can save and how fast you can pay off your mortgage. Choose the Mortgage Acceleration program that works for you.</h5>
                                            <div class="text-center">
                                                <button class="btn btn-success" ui-sref="app.personal.mortageAcceleration">Get started</button>
                                            </div>
                                        </div>
                                        <div ng-if="debttoolsCtrl.debttoolsModel.CurrentMortgageProgram !== null">
                                            <img src="/styles/img/app/debt-mortgage-s.jpg" />
                                            <h1 class="txt-color-green">Mortgage acceleration</h1>
                                            <h4 class="txt-color-orange">Shave Years off your Mortgage</h4>
                                            <hr />
                                            <h6 class="">
                                                TOTAL DEBT: <span class="txt-color-green">
                                                    {{debttoolsCtrl.debttoolsModel.CurrentMortgageProgram.AcceleratedParams.TotalPaymentAmountInCents | centsCurrency}}
                                                </span>
                                            </h6>
                                            <h6 class="">PAYMENT: <span class="txt-color-green">{{debttoolsCtrl.debttoolsModel.CurrentMortgageProgram.AcceleratedParams.PaymentInCents | centsCurrency}}</span></h6>
                                            <h6 class="">PAYMENT PERIOD: <span class="txt-color-green">{{debttoolsCtrl.debttoolsModel.CurrentMortgageProgram.PaymentPeriodString}}</span></h6>
                                            <h6 class="">EXTRA PAYMENT: <span class="txt-color-green">{{debttoolsCtrl.debttoolsModel.CurrentMortgageProgram.ExtraPaymentInCentsPerPeriod | centsCurrency}}</span></h6>
                                            <h5>
                                                You are saving a total of <span class="txt-color-green">{{debttoolsCtrl.debttoolsModel.CurrentMortgageProgram.AcceleratedParams.TotalSavingsInCents | centsCurrency}}</span>
                                                and shaving off <span class="txt-color-green">{{(debttoolsCtrl.debttoolsModel.CurrentMortgageProgram.OriginalParams.PayoffTime - debttoolsCtrl.debttoolsModel.CurrentMortgageProgram.AcceleratedParams.PayoffTime).toFixed(1)}}</span> yrs by using this Mortgage Acceleration Program.
                                            </h5>
                                            <hr />
                                            <ul class="depttools-commands text-left">
                                                <li><a ui-sref="app.personal.mortageAcceleration"><i class="glyphicon glyphicon-circle-arrow-right" style="padding: 3px"></i>Show Detailed Summary</a></li>
                                                <li><a ui-sref="app.personal.mortageAcceleration"><i class="glyphicon glyphicon-circle-arrow-right" style="padding: 3px"></i>Choose Different Program</a></li>
                                                <li><a ui-sref="app.personal.mortageAcceleration"><i class="glyphicon glyphicon-circle-arrow-right" style="padding: 3px"></i>Check Payment Calendar</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>