 

<div id="content">
    <section>
        <div class="row">
            <article class="col-md-12">
                <div>
                    <div class="col-md-12">
                        <div class="ConsumerDebtBox">
                            <div class="box-header"><h2>Consumer Debt Elimination Program</h2></div>
                            <ul class="block-list">
                                <li>
                                    <h3>The first step to financial freedom is eliminating your debt.</h3>
                                    <h3>On the following pages we will walk you through a consumer debt elimination program that is simple to follow, it takes discipline but it is worth it.</h3>
                                </li>
                                <li>
                                    <div class="left-box">
                                        <img src="../../../../styles/img/app/road-to-debt-free.jpg" />
                                    </div>
                                    <div class="right-box">
                                        <h3 class="subtitle" style="font-weight:bold">Eliminate Debt in 3 Easy Steps</h3>
                                        <ul class="comman-list-style">
                                            <li>
                                                <strong>STEP 1</strong> -Complete your debt information
                                            </li>
                                            <li>
                                                <strong>STEP 2</strong> - Pick a payoff plan &amp; available cash flow
                                            </li>
                                            <li><strong>STEP 3</strong> - Follow your payoff plan</li>
                                        </ul>
                                        <button class="btn btn-success debtStartButtons" ui-sref="app.personal.eliminationProgram"><i class="fa fa-arrow-right"></i>PROCEED TO STEP 1</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                
                </div>
            </article>
        </div>
    </section>
</div>