<div>
    <div id="extr-page">
        <header id="header" class="animated fadeInDown" style="display:none">

            <div id="logo-group">
                <span id="logo"> <img src="styles/img/Alliance-pfm.png"> </span>
            </div>

            <!--<span id="extr-page-header-space">
                <span class="hidden-mobile hiddex-xs">Need an account?</span> <a ui-sref="signup" class="btn btn-danger">Create account</a>
            </span>-->

        </header>
        <div id="main" role="main">

           
            <div class="et_pb_row et_pb_row_0">

                <div class="et_pb_column et_pb_column_4_4  et_pb_column_0">

                    <div style="margin-bottom:0">
                        <img src="styles/img/AFW_Logo_300.png" alt="">

                    </div>
                </div> <!-- .et_pb_column -->

            </div>

           
            <div id="content" class="container">

                <div class="row" style="background-image:url('styles/img/family-generations-70.jpg')">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8" style="display:none">
                        <h2><strong>Take Control of Your Financial Future</strong></h2>

                        <div class="hero">
                            <div class="pull-left login-desc-box-l">
                                <ul class="list-unstyled text-left price-features">
                                    <li><i class="fa fa-check text-success"></i>All your accounts in one place</li>
                                    <li><i class="fa fa-check text-success"></i>Powerful budgeting tools</li>
                                    <li><i class="fa fa-check text-success"></i>Automatically track your spending</li>
                                    <li><i class="fa fa-check text-success"></i>Monitor and track your credit score</li>
                                    <li><i class="fa fa-check text-success"></i>Eliminate debt</li>
                                    <li><i class="fa fa-check text-success"></i>Set goals and track your progress</li>
                                    <li><i class="fa fa-check text-success"></i>Safe and secure environment</li>
                                    <li><i class="fa fa-check text-success"></i>Bank level security <label class="txt-color-red">128 bit SSL encryption</label></li>
                                </ul>
                            </div>
                            <!--<img src="styles/img/demo/iphoneview.png" class="pull-right display-image" alt style="width:210px">-->
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 ">

                        <div class="et_pb_text et_pb_module et_pb_bg_layout_dark et_pb_text_align_left  et_pb_text_0">

                            <h2 style="font-size:26px"><strong>Take Control of Your Financial Future</strong></h2>
                            <ul style="padding: 0 0 23px 16px;line-height: 26px;list-style-type: disc;">
                                <li><strong>Aggregate&nbsp;all of your accounts in one financial dashboard</strong></li>
                                <li><strong>Create spending plans and budgets</strong></li>
                                <li><strong>Set, track, and achieve financial goals</strong></li>
                                <li><strong>Get out of debt quickly</strong></li>
                                <li><strong>Accelerate your mortgage</strong></li>
                                <li><strong>Categorize expenses</strong></li>
                                <li><strong>Create financial alerts and updates</strong></li>
                                <li><strong>Get financial education</strong></li>
                                <li><strong>Secure access from PC, tablet or smart device</strong></li>
                                <li><strong>You are secure with&nbsp;AES256bit encryption</strong></li>
                            </ul>

                        </div> <!-- .et_pb_text -->
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                        <p class="alert alert-success" ng-if="loginCtrl.message">{{loginCtrl.message}}</p>
                        <p class="alert alert-danger" ng-repeat="error in loginCtrl.errors" ng-bind-html="error"></p>
                        <div class="well no-padding">
                            <form id="login-form" class="smart-form client-form">
                                <header>
                                    Sign In
                                </header>
                                <fieldset>
                                    <section ng-hide="loginCtrl.model.SecurityQuestion">
                                        <label class="label">E-mail</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            <input type="email"
                                                   name="email"
                                                   data-required
                                                   data-email
                                                   data-message-required="Please enter your email address"
                                                   data-message-email="Please enter a VALID email address"
                                                   ng-model="loginCtrl.model.Email">
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-user txt-color-teal"></i>
                                                Please enter email address
                                            </b>
                                        </label>
                                    </section>
                                    <section ng-hide="loginCtrl.model.SecurityQuestion">
                                        <label class="label">Password</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-lock"></i>
                                            <input ng-enter="loginCtrl.login()"
                                                   type="password" name="password"
                                                   data-required
                                                   data-minlength="1"
                                                   data-maxnlength="20"
                                                   data-message="Please enter your email password"
                                                   ng-model="loginCtrl.model.Password">
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-lock txt-color-teal"></i> Enter
                                                your password
                                            </b>
                                        </label>

                                        <div class="note">
                                            <a ui-sref="forgotPassword">Forgot password?</a>
                                        </div>
                                    </section>
                                    <section ng-show="loginCtrl.model.SecurityQuestion">
                                        <label class="label">{{loginCtrl.model.SecurityQuestion}}</label>
                                        <label class="input">
                                            <input type="text"
                                                   data-required
                                               data-minlength="1"
                                                   data-maxnlength="20"
                                                   data-message="Please enter your email password"
                                                   ng-model="loginCtrl.model.SecurityQuestionAnswer">
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-lock txt-color-teal"></i> Enter
                                                answer
                                            </b>
                                        </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="button" class="btn btn-primary" ng-click="loginCtrl.login()">
                                        SIGN IN
                                    </button>
                                </footer>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
