<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="choiceAccountCtrl.dismiss()">
        &times;
    </button>
    <h4 class="modal-title">
        Add an account
    </h4>
</div>
<div class="modal-body row">
    <div class="widget-body">
        <div class="row">
            <div class="row text-align-center">
                <div class="col-md-6">
                    <a ng-click="choiceAccountCtrl.intuitSearch()">
                        <img src="/styles/img/app/what-acc-1.png" />
                        <h3>Connect to my financical institution</h3>
                    </a>
                </div>
                <div class="col-md-6">
                    <a ng-click="choiceAccountCtrl.addManually()">
                        <img src="/styles/img/app/what-acc-2.png" />
                        <h3>Manually add an account</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
