<div jarvis-widget
     data-widget-editbutton="false"
     data-widget-colorbutton="false"
     data-widget-togglebutton="false"
     data-widget-deletebutton="false"
     data-widget-fullscreenbutton="false"
     data-widget-custombutton="false"
     data-widget-sortable="true"
     data-widget-color="blue">
    <header></header>
    <div>
        <div class="row">
            <div class="col-md-2" ui-view="sidebar"></div>
            <div class="col-md-10" ui-view="details"></div>
        </div>
    </div>
</div>
