<div class="goals-box__inner well">
    <h1 class="text-center goals-box__inner-title">Choose a Goal <a ui-sref="app.personal.goals.items" ui-sref-opts="{reload: true}" title="close" class="close"><i class="fa fa-times"></i></a></h1>

    <div class="row">
        <div class="col-md-3 text-center">
            <a class="goals-box__inner-item" ui-sref="app.personal.goals.items.add.emergency-step1">
                <img src="/styles/img/app/goal-save-emergency.png"/>
                <h5 class="item-title">Save for an Emergency</h5>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a class="goals-box__inner-item" ui-sref="app.personal.goals.items.add.retirement-step1">
                <img src="/styles/img/app/goal-save-retirement.png"/>
                <h5 class="item-title">Save for Retirement</h5>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a class="goals-box__inner-item" ui-sref="app.personal.goals.items.add.buyhome-step1">
                <img src="/styles/img/app/goal-buy-home.png"/>
                <h5 class="item-title">Buy a Home</h5>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a class="goals-box__inner-item" ui-sref="app.personal.goals.items.add.car-step1">
                <img src="/styles/img/app/goal-buy-car.png"/>
                <h5 class="item-title">Buy a car</h5>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center">
            <a class="goals-box__inner-item" ui-sref="app.personal.goals.items.add.college-step1">
                <img src="/styles/img/app/goal-college.png"/>
                <h5 class="item-title">Save for College</h5>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a class="goals-box__inner-item" ui-sref="app.personal.goals.items.add.trip-step1">
                <img src="/styles/img/app/goal-take-trip.png"/>
                <h5 class="item-title">Take a Trip</h5>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a class="goals-box__inner-item" ui-sref="app.personal.goals.items.add.improvehome-step1">
                <img src="/styles/img/app/goal-improve-home.png"/>
                <h5 class="item-title">Improve my Home</h5>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a class="goals-box__inner-item" ui-sref="app.personal.goals.items.add.custom-step1">
                <img src="/styles/img/app/goal-custom.png"/>
                <h5 class="item-title">Create a custom Goal</h5>
            </a>
        </div>
    </div>
</div>
