<aside id="left-panel">
    <div login-info></div>
    <nav>
        <ul data-smart-menu>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.affiliateAdmin.users" ui-sref-opts="{reload: 'app.affiliateAdmin.users'}" title="Users"><i class="fa fa-lg fa-fw fa-group"></i>
                    <span class="menu-item-parent">Users</span>
                </a>
            </li>
            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-envelope-o"></i> <span class="menu-item-parent">Messaging</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.affiliateAdmin.messages" ui-sref-opts="{reload: 'app.affiliateAdmin.messages'}"><span class="menu-item-parent">Messages</span></a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.affiliateAdmin.templates" ui-sref-opts="{reload: 'app.affiliateAdmin.templates'}"><span class="menu-item-parent">Templates</span></a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.affiliateAdmin.triggers" ui-sref-opts="{reload: 'app.affiliateAdmin.triggers'}"><span class="menu-item-parent">Triggers</span></a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.affiliateAdmin.userGroups" ui-sref-opts="{reload: 'app.affiliateAdmin.userGroups'}"><span class="menu-item-parent">User groups</span></a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.affiliateAdmin.sendmail" ui-sref-opts="{reload: 'app.affiliateAdmin.sendmail'}"><span class="menu-item-parent">Send mail</span></a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.affiliateAdmin.faq" ui-sref-opts="{reload: 'app.affiliateAdmin.faq'}"><span class="menu-item-parent" title="FAQ Management">FAQ Management</span></a>
                    </li>
                </ul>
            </li>
            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Analytics</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.affiliateAdmin.dashboard" ui-sref-opts="{reload: 'app.affiliateAdmin.dashboard'}"><span class="menu-item-parent">Dashboard</span></a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.affiliateAdmin.reports" ui-sref-opts="{reload: 'app.affiliateAdmin.dashboard'}"><span class="menu-item-parent">Reports</span></a>
                    </li>
                </ul>
            </li>
            <!--<li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-thumbs-o-up"></i><span class="menu-item-parent">Marketing</span> </a>
                <ul>
                    <li data-menu-collapse>
                        <a href="#"><span class="menu-item-parent">My Account</span></a>
                        <ul>
                            <li>
                                <a data-ui-sref="app.affiliateAdmin.account" ui-sref-opts="{reload: 'app.affiliateAdmin.account'}"><span class="menu-item-parent">Profile</span></a>
                            </li>
                            <li>
                                <a href=""><span class="menu-item-parent" ui-sref-opts="{reload: ''}">Settings</span></a>
                            </li>
                            <li>
                                <a data-ui-sref="app.affiliateAdmin.billingInfo" ui-sref-opts="{reload: 'app.affiliateAdmin.billingInfo'}"><span class="menu-item-parent">Billing Info</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>-->
        </ul>
    </nav>
</aside>