<div id="content">
    <section>
        <div class="row">
            <article class="col-md-6 col-md-offset-3">
                <div jarvis-widget
                     data-widget-editbutton="false"
                     data-widget-colorbutton="false"
                     data-widget-togglebutton="false"
                     data-widget-deletebutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-custombutton="false"
                     data-widget-sortable="true"
                     data-widget-color="blue">
                    <header><h2>Templates</h2></header>
                    <div>
                        <div class="container-fluid">
                            <div ng-if="templatesCtrl.roles.AffiliateAdminEdit" class="row">
                                <div class="text-right">
                                    <button class="btn btn-success" data-ui-sref="app.affiliateAdmin.createTemplate"><i class="fa fa-plus"></i> CREATE NEW TEMPLATE</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-hover" style="margin-top: 20px">
                                        <thead>
                                        <tr>
                                            <th>Created</th>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="template in templatesCtrl.templates">
                                            <td>{{template.Created | date : 'MM/dd/yyyy'}}</td>
                                            <td>{{template.Name}}</td>
                                            <td ng-if="template.Status == 1">Draft</td>
                                            <td ng-if="template.Status == 2">Active</td>
                                            <td>
                                                <button ng-if="templatesCtrl.roles.AffiliateAdminEdit" class='btn btn-xs btn-default' title="edit template" ng-click="templatesCtrl.editTemplate(template.Id)"><i class='fa fa-pencil'></i></button>
                                                <button ng-if="!template.IsDefault && templatesCtrl.roles.AffiliateAdminDelete" class='btn btn-xs btn-danger' title='delete template' ng-click="templatesCtrl.deleteTemplate(template.Id)"><i class='fa fa-times'></i></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>