<div id="content">
    <div class="goals-box__inner well">

        <div class="row">
            <div class="col-md-12" style="padding: 0 10%">
                <div class="Calulatortable text-center">
                    <div class="Calulatortable-row">
                        <a class="Calulatortable-cell" ng-click="calculatorCtrl.popCalci('app/personal/calculator/basicCalculator.html', '_blank')"><img src="../../../styles/img/if_calculator_45033.png" /></a>
                        <a class="Calulatortable-cell" ng-click="calculatorCtrl.popCalci('app/personal/calculator/futurevalueCalculator.html', '_blank')"><img src="../../../styles/img/if_calculator_45033.png" /></a>
                        <a class="Calulatortable-cell" ng-click="calculatorCtrl.popCalci('app/personal/calculator/amortizingloanCalculator.html', '_blank')"><img src="../../../styles/img/if_calculator_45033.png" /></a>
                    </div>
                    <div class="Calulatortable-row">
                        <div class="Calulatortable-cell">
                            <a class="goals-box__inner-item" ng-click="calculatorCtrl.popCalci('app/personal/calculator/basicCalculator.html', '_blank')">

                                <h5 class="item-title">Basic Calculator</h5>
                            </a>
                        </div>
                        <div class="Calulatortable-cell">
                            <a class="goals-box__inner-item" ng-click="calculatorCtrl.popCalci('app/personal/calculator/futurevalueCalculator.html', '_blank')">
                                <h5 class="item-title">Future Value Calculator</h5>
                            </a>
                        </div>
                        <div class="Calulatortable-cell">
                            <a class="goals-box__inner-item" ng-click="calculatorCtrl.popCalci('app/personal/calculator/amortizingloanCalculator.html', '_blank')">
                                <h5 class="item-title">Amortizing Loan Calculator</h5>
                            </a>
                        </div>
                         
                    </div>
                </div>

                <table class="Calulatortable text-center" style="display:none">
                    <tr>
                        <td><img src="../../../styles/img/if_calculator_45033.png" /></td>
                        <td><img src="../../../styles/img/if_calculator_45033.png" /></td>
                        <td><img src="../../../styles/img/if_calculator_45033.png" /></td>
                    </tr>
                    <tr>
                        <td>
                            <a class="goals-box__inner-item" ng-click="calculatorCtrl.popCalci('app/personal/calculator/basicCalculator.html', '_blank')">

                                <h5 class="item-title">Basic Calculator</h5>
                            </a>
                        </td>
                        <td>
                            <a class="goals-box__inner-item" ng-click="calculatorCtrl.popCalci('app/personal/calculator/futurevalueCalculator.html', '_blank')">
                                <!--ui-sref="app.personal.futurevalueCalculator"-->
                                <h5 class="item-title">Future Value Calculator</h5>
                            </a>
                        </td>
                        <td>
                            <a class="goals-box__inner-item" ng-click="calculatorCtrl.popCalci('app/personal/calculator/amortizingloanCalculator.html', '_blank')">
                                <!--ui-sref="app.personal.amortizingloanCalculator"-->
                                <h5 class="item-title">Amortizing Loan Calculator</h5>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row" style="padding-top:5%">
            <div class="col-md-12" style="padding:0 10%">
                <div class="Calulatortable text-center">
                    <div class="Calulatortable-row">
                        <a style="width:50%" class="Calulatortable-cell" ng-click="calculatorCtrl.popCalci('app/personal/calculator/annualrateCalculator.html', '_blank')"><img src="../../../styles/img/if_calculator_45033.png" /></a>
                        <a class="Calulatortable-cell" ng-click="calculatorCtrl.popCalci('app/personal/calculator/comparetaxableCalculator.html', '_blank')"><img src="../../../styles/img/if_calculator_45033.png" /></a>
                    </div>
                    <div class="Calulatortable-row">
                        <div class="Calulatortable-cell">
                            <a class="goals-box__inner-item" ng-click="calculatorCtrl.popCalci('app/personal/calculator/annualrateCalculator.html', '_blank')">
                                <h5 class="item-title">Annual Rate of Return Calculator</h5>
                            </a>
                        </div>
                        <div class="Calulatortable-cell">
                            <a class="goals-box__inner-item" ng-click="calculatorCtrl.popCalci('app/personal/calculator/comparetaxableCalculator.html', '_blank')">
                                <h5 class="item-title">Taxable vs. Tax Deferred vs. Tax Free Investment</h5>
                            </a>
                        </div>
                     
                    </div>
                </div>
                <table class="Calulatortable text-center" style="display:none">
                    <tr>
                        <td style="width:50% !important"><img src="../../../styles/img/if_calculator_45033.png" /></td>
                        <td><img src="../../../styles/img/if_calculator_45033.png" /></td>
                         
                    </tr>
                    <tr>
                        <td>
                            <a class="goals-box__inner-item" ng-click="calculatorCtrl.popCalci('app/personal/calculator/annualrateCalculator.html', '_blank')">
                                <h5 class="item-title">Annual Rate of Return Calculator</h5>
                            </a>
                        </td>
                        <td>
                            <a class="goals-box__inner-item" ng-click="calculatorCtrl.popCalci('app/personal/calculator/comparetaxableCalculator.html', '_blank')">
                                <h5 class="item-title">Taxable vs. Tax Deferred vs. Tax Free Investment</h5>
                            </a>
                        </td>
                        
                    </tr>
                </table>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-md-2 text-center">
                <a class="goals-box__inner-item" ng-click="calculatorCtrl.popCalci('app/personal/calculator/basicCalculator.html', '_blank')">
                   
                    <h5 class="item-title">Basic Calculator</h5>
                </a>
            </div>
            <div class="col-md-2 text-center">
                <a class="goals-box__inner-item" ng-click="calculatorCtrl.popCalci('app/personal/calculator/futurevalueCalculator.html', '_blank')">
                    
                    <h5 class="item-title">Future Value Calculator</h5>
                </a>
            </div>
            <div class="col-md-2 text-center">
                <a class="goals-box__inner-item" ng-click="calculatorCtrl.popCalci('app/personal/calculator/amortizingloanCalculator.html', '_blank')">
                  
                    <h5 class="item-title">Amortizing Loan Calculator</h5>
                </a>
            </div>
            <div class="col-md-2 text-center">
                <a class="goals-box__inner-item" ng-click="calculatorCtrl.popCalci('app/personal/calculator/annualrateCalculator.html', '_blank')">
             
                    <h5 class="item-title">Annual Rate of Return Calculator</h5>
                </a>
            </div>
            <div class="col-md-2 text-center">
                <a class="goals-box__inner-item" ng-click="calculatorCtrl.popCalci('app/personal/calculator/comparetaxableCalculator.html', '_blank')">
                
                    <h5 class="item-title">Taxable vs. Tax Deferred vs. Tax Free Investment</h5>
                </a>
            </div>

        </div>-->
    </div>

</div>
