<aside id="left-panel">
    <div login-info></div>
    <nav>
        <ul data-smart-menu>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.business.dashboard" ui-sref-opts="{reload: 'app.business.dashboard'}" title="Dashboard"><i class="fa fa-lg fa-fw fa-dashboard"></i>
                    <span class="menu-item-parent">Dashboard</span>
                </a>
            </li>
            <li data-ui-sref-active="active">
                <a title="Transactions" data-ui-sref="app.business.transactions" ui-sref-opts="{reload: 'app.business.transactions'}"><i class="fa fa-lg fa-fw fa-exchange"></i>
                    <span class="menu-item-parent">Transactions</span>
                </a>
            </li>
            <li data-ui-sref-active="active">
                <a title="Budget" data-ui-sref="app.business.budget" ui-sref-opts="{reload: 'app.business.budget'}"><i class="fa fa-lg fa-fw fa-money"></i>
                    <span class="menu-item-parent">Budget</span>
                </a>
            </li>
            <li data-ui-sref-active="active">
                <a title="Trends" data-ui-sref="app.business.trends" ui-sref-opts="{reload: 'app.business.trends'}"><i class="fa fa-lg fa-fw fa-signal"></i>
                    <span class="menu-item-parent">Trends</span>
                </a>
            </li>
            <li data-ui-sref-active="active">
                <a title="Chart of accounts" data-ui-sref="app.business.chartofaccounts" ui-sref-opts="{reload: 'app.business.chartofaccounts'}"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
                    <span class="menu-item-parent">Chart of accounts</span>
                </a>
            </li>
            <li data-ui-sref-active="active">
                <a title="Chart of accounts" data-ui-sref="app.business.reports" ui-sref-opts="{reload: 'app.business.reports'}"><i class="fa fa-lg fa-fw fa-file-text-o"></i>
                    <span class="menu-item-parent">Reports</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>