<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MPower.Membership.ApiKey" value="F89DA1C7DC2B40319802BCF4F6B2C121" />
    <add key="MPower.Membership.BaseUrl" value="http://localhost:8080/api/membership" />
    <add key="Mpower.WhiteEmailsList" value="v.korolev@paralect.com" />
    <add key="Mpower.HtmlToPdfToolPath" value="c:\projects\mPower\tools\htmlToPdf\wkhtmltopdf.exe" />
    <add key="Mpower.DefaultEmailTemplatePath" value="c:\projects\mPower\source\mPower.Web.Admin\Content\email-template.html" />
    <add key="Deploy.Prod.ReadModeUrl" value="http://localhost:8080/api/tasks/SwitchReadOnlyMode/?isReadOnlyMode={0}" />
    <add key="Deploy.Prod.BackupFolder" value="C:\Server\Production\backups" />
    <add key="Deploy.Prod.WriteConnectionString" value="mongodb://admin(admin):admin@localhost:27017/mpower_write" />
    <add key="Deploy.Prod.ReadConnectionString" value="mongodb://admin(admin):admin@localhost:27017/mpower_read" />
    <add key="Deploy.Prod.ServerRootFolder" value="C:\Server\Production" />
    <add key="Deploy.Prod.IntuitConnectionString" value="mongodb://admin(admin):admin@localhost:27017/Intuit" />
    <add key="Deploy.Stage.BackupFolder" value="c:\temp\backup\" />
    <add key="Deploy.Stage.WriteConnectionString" value="mongodb://admin(admin):admin@localhost:27017/mpower_write" />
    <add key="Deploy.Stage.ReadConnectionString" value="mongodb://admin(admin):admin@localhost:27017/mpower_read" />
    <add key="Deploy.Stage.IntuitConnectionString" value="mongodb://admin(admin):admin@localhost:27017/Intuit" />
    <add key="Deploy.Stage.PackagesFolder" value="c:\temp\prod_backup_packages" />
    <add key="Deploy.Stage.ProdWebBuildFolder" value="c:\projects\mPower\source" />
    <add key="Deploy.Stage.ServerRootFolder" value="C:\Server\PreProduction" />
    <add key="Deploy.Stage.PublisherPath" value="c:\projects\mPower\deploy\Publish-To-Production.bat" />
    <add key="Deploy.Regenerator.WriteConnectionString" value="mongodb://admin(admin):admin@localhost:27017/mpower_regen_write" />
    <add key="Deploy.Regenerator.ReadConnectionString" value="mongodb://admin(admin):admin@localhost:27017/mpower_regen_read" />
    <add key="Deploy.Regenerator.LuceneIndexesDirectory" value="C:\Server\PreProduction\lucene_indexes_regen" />
    <add key="Aggregation.ServiceName" value="Aggregation Server" />
    <add key="Aggregation.ServiceUrl" value="http://localhost:8082/" />
    <add key="Aggregation.Mongo.DocumentDatabaseConnectionString" value="mongodb://admin:admin@localhost:27017/Intuit" />
    <add key="Aggregation.Intuit.CertificatePath" value="Intuit/devCert/devCert.pfx" />
    <add key="Aggregation.Intuit.CertificatePassword" value="Intuit/devCert/Password" />
    <add key="Aggregation.Intuit.ConsumerKey" value="Intuit/devCert/ConsumerKey" />
    <add key="Aggregation.Intuit.ConsumerSecret" value="Intuit/devCert/ConsumerSecret" />
    <add key="Aggregation.Intuit.IssuerId" value="testalltriarc.55755.cc.dev-intuit.ipp.prod" />
    <add key="Aggregation.Finicity.ApiUrl" value="https://api.finicity.com/aggregation" />
    <add key="Aggregation.Finicity.AppKey" value="81a2c10b96d832be8ad1bed63898456a" />
    <add key="Aggregation.Finicity.PartnerId" value="2445581496182" />
    <add key="Aggregation.Finicity.PartnerSecret" value="Vt0ECFqQD6FcwmABQbqq" />
</appSettings>
</configuration>